## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
#!conda install -c conda-forge gmaps
#!pip install gmaps

In [2]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!jupyter nbextension enable --py gmaps
!jupyter nbextension install --py --symlink --user gmaps
!jupyter nbextension enable --py --user gmaps
!jupyter labextension install @jupyter-widgets/jupyterlab-manager

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Installing C:\Users\estro\anaconda3\envs\PythonData\lib\site-packages\gmaps\static -> jupyter-gmaps
Symlinking: C:\Users\estro\AppData\Roaming\jupyter\nbextensions\jupyter-gmaps -> C:\Users\estro\anaconda3\envs\PythonData\lib\site-packages\gmaps\static
Traceback (most recent call last):
  File "C:\Users\estro\anaconda3\envs\PythonData\Scripts\jupyter-nbextension-script.py", line 10, in <module>
    sys.exit(main())
  File "C:\Users\estro\anaconda3\envs\PythonData\lib\site-packages\jupyter_core\application.py", line 254, in launch_instance
    return super(JupyterApp, cls).launch_instance(argv=argv, **kwargs)
  File "C:\Users\estro\anaconda3\envs\PythonData\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\Users\estro\anaconda3\envs\PythonData\lib\site-packages\notebook\nbextensions.py", line 980, in start
    super().start()
  File "C:\Users\estro\anaconda3\envs\PythonData\lib\site-packages\jupyter_core\application.py", line 243, in start
    self.subapp.start()
  File "C:\Users\estro\anaconda3\envs\PythonData\lib\site-packages\notebook\nbextensions.py", line 708, in start
    self.install_extensions()
  File "C:\Users\estro\anaconda3\envs\PythonData\lib\site-packages\notebook\nbextensions.py", line 687, in install_extensions
    **kwargs
  File "C:\Users\estro\anaconda3\envs\PythonData\lib\site-packages\notebook\nbextensions.py", line 217, in install_nbextension_python
    destination=dest, logger=logger
  File "C:\Users\estro\anaconda3\envs\PythonData\lib\site-packages\notebook\nbextensions.py", line 176, in install_nbextension
    os.symlink(path, full_dest)
OSError: symbolic link privilege not held
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

An error occurred.
ValueError: Please install Node.js and npm before continuing installation. You may be able to install Node.js from your package manager, from conda, or directly from the Node.js website (https://nodejs.org).
See the log file for details:  C:\Users\estro\AppData\Local\Temp\jupyterlab-debug-d11_mcfx.log

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/Weather_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Touros,BR,-5.1989,-35.4608,86.90,63,83,17.72,broken clouds
1,1,Haines Junction,CA,60.7522,-137.5108,35.55,75,100,3.44,overcast clouds
2,2,Hermanus,ZA,-34.4187,19.2345,65.89,69,23,9.04,few clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,49.66,43,0,4.61,clear sky
4,4,Busselton,AU,-33.6500,115.3333,53.10,74,90,9.95,overcast clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
print("Please enter a minimum and maximum temperature range for your ideal vacation.")
mintemp = float(input("Minimum: " ))
maxtemp = float(input("Maximum: "))

Please enter a minimum and maximum temperature range for your ideal vacation.
Minimum: 60
Maximum: 70

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.


preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] > mintemp)
                                         & (city_data_df["Max Temp"] < maxtemp)] 

 
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Hermanus,ZA,-34.4187,19.2345,65.89,69,23,9.04,few clouds
6,6,Airai,TL,-8.9266,125.4092,60.24,77,80,2.35,broken clouds
12,12,Bredasdorp,ZA,-34.5322,20.0403,62.28,82,100,4.61,overcast clouds
14,14,Port Alfred,ZA,-33.5906,26.8910,68.04,87,85,31.21,overcast clouds
15,15,Altadena,US,34.1897,-118.1312,68.63,80,40,1.01,haze

In [7]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.count()

City_ID                108
City                   108
Country                108
Lat                    108
Lng                    108
Max Temp               108
Humidity               108
Cloudiness             108
Wind Speed             108
Current Description    108
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cleaned_preferred_cities_df = preferred_cities_df.dropna()
cleaned_preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Hermanus,ZA,-34.4187,19.2345,65.89,69,23,9.04,few clouds
6,6,Airai,TL,-8.9266,125.4092,60.24,77,80,2.35,broken clouds
12,12,Bredasdorp,ZA,-34.5322,20.0403,62.28,82,100,4.61,overcast clouds
14,14,Port Alfred,ZA,-33.5906,26.8910,68.04,87,85,31.21,overcast clouds
15,15,Altadena,US,34.1897,-118.1312,68.63,80,40,1.01,haze

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cleaned_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hermanus,ZA,65.89,few clouds,-34.4187,19.2345,
6,Airai,TL,60.24,broken clouds,-8.9266,125.4092,
12,Bredasdorp,ZA,62.28,overcast clouds,-34.5322,20.0403,
14,Port Alfred,ZA,68.04,overcast clouds,-33.5906,26.8910,
15,Altadena,US,68.63,haze,34.1897,-118.1312,
...,...,...,...,...,...,...,...
656,Xam Nua,LA,64.35,overcast clouds,20.4197,104.0439,
662,Valparaiso,CL,60.44,few clouds,-33.0393,-71.6273,
670,Tocopilla,CL,67.66,scattered clouds,-22.0920,-70.1979,
678,Wadena,US,69.58,overcast clouds,46.4425,-95.1361,
680,Salisbury,GB,64.56,broken clouds,51.0693,-1.7957,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6d.  Set up the base URL for the Google Directions API to get JSON data
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hermanus,ZA,65.89,few clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
6,Airai,TL,60.24,broken clouds,-8.9266,125.4092,Juvinal Martin
12,Bredasdorp,ZA,62.28,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
14,Port Alfred,ZA,68.04,overcast clouds,-33.5906,26.8910,The Halyards Hotel
15,Altadena,US,68.63,haze,34.1897,-118.1312,The Westin Pasadena
...,...,...,...,...,...,...,...
656,Xam Nua,LA,64.35,overcast clouds,20.4197,104.0439,Xee Wang Guesthouse
662,Valparaiso,CL,60.44,few clouds,-33.0393,-71.6273,Hotel Ultramar
670,Tocopilla,CL,67.66,scattered clouds,-22.0920,-70.1979,Hotel Galvarino
678,Wadena,US,69.58,overcast clouds,46.4425,-95.1361,Eastwood Inn of Wadena
680,Salisbury,GB,64.56,broken clouds,51.0693,-1.7957,Mercure Salisbury White Hart Hotel

In [12]:
# 7. Drop the rows where there is no Hotel Name.

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
%matplotlib inline
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()


# 11b. Display the figure
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))